In [16]:
Td = "aa"
candidates = set(Td)

In [17]:
import string

In [21]:
for i in range(len(Td) + 1):
    # 2. T′は、Tのいずれか1つの位置（先頭と末尾も含む）に英小文字を1つ挿入して得られる文字列である。
    for s in string.ascii_lowercase:
        c = list(Td)
        c.insert(i, s)
        print("".join(c))

aaa
baa
caa
daa
eaa
faa
gaa
haa
iaa
jaa
kaa
laa
maa
naa
oaa
paa
qaa
raa
saa
taa
uaa
vaa
waa
xaa
yaa
zaa
aaa
aba
aca
ada
aea
afa
aga
aha
aia
aja
aka
ala
ama
ana
aoa
apa
aqa
ara
asa
ata
aua
ava
awa
axa
aya
aza
aaa
aab
aac
aad
aae
aaf
aag
aah
aai
aaj
aak
aal
aam
aan
aao
aap
aaq
aar
aas
aat
aau
aav
aaw
aax
aay
aaz

In [19]:
# T′は、Tからある1文字を削除して得られる文字列である。
for i in range(len(Td) + 1):
    if i != len(Td):
        c = list(Td)
        c.pop(i)
        print(" ".join(c))

a
a

In [20]:
# T′は、Tのある1文字を別の英小文字に変更して得られる文字列である。
for i in range(len(Td) + 1):
    if i != len(Td):
        for s in string.ascii_lowercase:
            c = list(Td)
            c[i] = s
            print("".join(c))

aa
ba
ca
da
ea
fa
ga
ha
ia
ja
ka
la
ma
na
oa
pa
qa
ra
sa
ta
ua
va
wa
xa
ya
za
aa
ab
ac
ad
ae
af
ag
ah
ai
aj
ak
al
am
an
ao
ap
aq
ar
as
at
au
av
aw
ax
ay
az